# version: "3.9"

services:
  mysql:
    image: mysql:8.4
    container_name: mysql
    hostname: mysql
    env_file:
      - docker-compose.env
    ports:
      - "3306:3306"
    volumes:
      - ./my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - mysql_data:/var/lib/mysql
      - ./mysql/:/docker-entrypoint-initdb.d/
      #- ./sql/:/sql/
    networks:
      - homelab_net

  # Local GraphQL API built from this repository
  graphql:
    build: .
    container_name: graphql
    hostname: graphql
    restart: unless-stopped
    ports:
      - "4000:4000"
    env_file:
      - docker-compose.env
    depends_on:
      - mysql
    networks:
      - homelab_net

volumes:
  postgres_data:
  pgadmin_data:
  mysql_data:

networks:
  homelab_net:
    driver: bridge

